{% extends 'auctions/layout.html' %}

{% block body %}
    <h2>{{ category }} Listings</h2>
    <ul>
        <div style="display: flex;">
    {% for listing in listings %}
        <div style="margin: 0 10px;">
        <h5> {{ listing.title }} </h5>
        <img src="{{ listing.image }}" alt="{{ listing.title }} image" width="300" height="300">
        <p><b>Price: </b> $ {{ listing.start_bid}} </p>
        <p><b>Created</b> {{ listing.timestamp }} </p>
        <button class="btn btn-sm btn-light"><a href="{% url 'details' pk=listing.id %}" style="color: black !important;">More Details</a></button>
        </div>
    {% empty %}
        <li>No listings found.</li>
    {% endfor %}
        </div>
    </ul>
{% endblock %}
