{% extends "auctions/layout.html" %}
{% block body %}
{% if user.id == listing.owner.id %}
<form action="{% url 'close_listing' pk=listing.id %}" method="POST">
   {% csrf_token %}
    <input  style="margin:10px" type="submit" class="btn btn-danger" value="Close listing" name="close_auction" onclick="return confirm('Are you sure you want to close the auction?');">
</form>
{% endif %}
{% if user.id != listing.owner.id %}
{% if is_watching %}
<form action="{% url 'remove_from_watchlist' listing.id %}" method="POST">
   {% csrf_token %}
   <input style="margin:10px" type="submit" class="btn btn-danger" value="Remove from watchlist">
</form>
{% else %}
<form action="{% url 'add_to_watchlist' pk=listing.id %}" method="POST">
   {% csrf_token %}
   <input style="margin:10px" type="submit" class="btn btn-success" value="Add to watchlist">
</form>
{% endif %}
{% endif %}
<h5 style="margin: 10px;">{{ listing.title }}</h5>
<div style="margin: 0 10px; ">
   <img src="{{ listing.image }}" alt="{{ listing.title }} image" width="300" height="300">
   <h3>${{ listing.start_bid }}</h3>
   {% if bids == 1 %}
   <h6> ({{ bids }} bid made)</h6>
   {% else %}
   <h6> ({{ bids }} bids made)</h6>
   {% endif %}
   {% if messages %}
   <ul class="alert alert-warning" role="alert" style="list-style:none;">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
   </ul>
   {% endif %}
   {% if user.id != listing.owner.id %}
   <form action="{% url 'bid' pk=listing.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">
         <label for="bid_amount">Bid Amount:</label>
         <input style="width:300px;" type="number" class="form-control" id="bid_amount" name="bid_amount" step="0.01" required>
      </div>
      <button type="submit" class="btn btn-primary">Place Bid</button>
   </form>
   {% endif %}
   <br>
   <h5><b>Details:</b></h5>
   <p><b>Listed by:</b> {{ listing.owner }}</p>
   <p><b>Category:</b> {{ listing.category }}</p>
   <div style="width:700px; text-align:justify;">
      <p>{{ listing.description }}</p>
   </div>
</div>
<br>
<div class="comments" style="margin: 0 10px;">
   <h6 class="mb-3"><b>Comments</b></h6>
   {% if comments %}
   <ul class="list-unstyled">
      {% for comment in comments %}
      <div class="card mb-3 comment" style="box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075); width: 400px; height: auto;">
         <div class="card-body">
            <p class="card-text">{{ comment.comment }}</p>
            <div class="card-footer text-muted" style="background-color: #e6f2ff; padding:5px;">
               - {{ comment.user.username }} <small>{{ comment.date }}</small>
            </div>
         </div>
      </div>
      {% endfor %}sj
   </ul>
   {% else %}
   <p>No comments found</p>
   {% endif %}
</div>
{% if user.is_authenticated %}
<form action="{% url 'comment' pk=listing.id %}" method="post">
   {% csrf_token %}
   <div class="form-group" style="margin:10px;">
      <label for="comment_content">Add a comment:</label>
      <textarea class="form-control" style="width: 400px;" id="comment_content" name="comment_content" rows="2" required></textarea>
   </div>
   <button style="margin: 0 10px; margin-left:335px;" type="submit" class="btn btn-light">Submit</button>
</form>
{% endif %}
{% endblock %}